doctype html
html
    head
        link(href='style.css', rel='stylesheet')
        header
            .nav
                .container2
                    ul.main-menu
                            li
                                a(href="/") Home
                            li
                                a(href=config.menu[1][1]) #{config.menu[1][0]}
                            li
                                a(href=config.menu[0][1]) #{config.menu[0][0]}
                                ul.drop-menu
                                    each item in config.ciphers
                                        li
                                            a(href=item[1]) #{item[0]}
    body
        block content
